@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
}


/*Medias*/
@media (min-width: 1920px) {
    
    .header_wrapper {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 0 0 1rem 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .wrapper {
        width: 1140px;
        padding: 30px;
        border-radius: 1rem;
        height: fit-content;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .product {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .right {
        padding: 30px;
    }

    .thumb1 {
        width: 500px;
        margin: 0 auto;
        border: 2px solid #fff;
    }
    
    .thumb1 img {
        display: block;
        max-width: 100%;
        min-width: 100%;
        cursor: pointer;
    }

    .cart_block {
        right: 40px;
        bottom: 40px;
        position: fixed;
        width: 150px;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 1rem;
        animation: slidein 1.5s linear forwards;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.9); 
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    .card_sect {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .card {
        width: 400px;
        height: fit-content;
        padding: 30px;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }
    
    .card_img {
        width: 100%;
    }
    
    .price_block_card {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 1920px) {
    
    .header_wrapper {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 0 0 1rem 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .wrapper {
        width: 1140px;
        padding: 30px;
        border-radius: 1rem;
        height: fit-content;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .product {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .right {
        padding: 30px;
    }

    .thumb1 {
        width: 500px;
        margin: 0 auto;
        border: 2px solid #fff;
    }
    
    .thumb1 img {
        display: block;
        max-width: 100%;
        min-width: 100%;
        cursor: pointer;
    }

    .cart_block {
        right: 40px;
        bottom: 40px;
        position: fixed;
        width: 150px;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 1rem;
        animation: slidein 1.5s linear forwards;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.9); 
    }
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    .card_sect {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .card {
        width: 400px;
        height: fit-content;
        padding: 30px;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }
    
    .card_img {
        width: 100%;
    }
    
    .price_block_card {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}


@media (max-width: 1280px) {
    
    .header_wrapper {
        width: 1140px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 0 0 1rem 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .wrapper {
        width: 1140px;
        padding: 30px;
        border-radius: 1rem;
        height: fit-content;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .product {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .right {
        padding: 30px;
    }

    .thumb1 {
        width: 500px;
        margin: 0 auto;
        border: 2px solid #fff;
    }
    
    .thumb1 img {
        display: block;
        max-width: 100%;
        min-width: 100%;
        cursor: pointer;
    }

    .cart_block {
        right: 40px;
        bottom: 40px;
        position: fixed;
        width: 150px;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 1rem;
        animation: slidein 1.5s linear forwards;
    }

    .card {
        width: 400px;
        height: fit-content;
        padding: 30px;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }
    
    .card_img {
        width: 100%;
    }
    
    .price_block_card {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 980px) {
    
    .header_wrapper {
        width: 960px !important;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 0 0 1rem 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .wrapper {
        width: 100% !important;
        padding: 30px;
        border-radius: 1rem;
        height: fit-content;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .product {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .thumb1 {
        width: 100%;
        margin: 0 auto;
        border: 2px solid #fff;
    }
    
    .thumb1 img {
        display: block;
        max-width: 100%;
        min-width: 100%;
        cursor: pointer;
    }

    .cart_block {
        right: 30px;
        bottom: 30px;
        position: fixed;
        width: 150px;
        height: 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 1rem;
        animation: slidein 1.5s linear forwards;
    }
    
    .card {
        width: 400px;
        height: fit-content;
        padding: 30px;
        margin: 20px;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }
    
    .card_img {
        width: 100%;
    }
    
    .price_block_card {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 640px) {
    
    .header_wrapper {
        width: 600px !important;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 0 0 1rem 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .wrapper {
        width: 600px !important;
        padding: 30px;
        border-radius: 1rem;
        height: fit-content;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .product_name {
        width: auto !important;
        text-align: center;
        padding-inline: 40px !important;
    }

    .right {
        padding: 0;
    }

    .thumb1 {
        width: 100%;
        margin: 0 auto;
        border: 2px solid #fff;
    }
    
    .thumb1 img {
        display: block;
        max-width: 100%;
        min-width: 100%;
        cursor: pointer;
    }

    .cart_block {
        right: 40px;
        bottom: 40px;
        position: fixed;
        width: 120px;
        height: 120px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 1rem;
        animation: slidein 1.5s linear forwards;
    }

    .card {
        width: 520px;
        height: fit-content;
        padding: 30px;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }
    
    .card_img {
        width: 100%;
    }
    
    .price_block_card {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .header_wrapper {
        width: 440px !important;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 0 0 1rem 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .wrapper {
        width: 440px !important;
        padding: 30px;
        border-radius: 1rem;
        height: fit-content;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }

    .product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .product_name {
        padding-inline: 0 !important;
    }

    .right {
        padding: 30px;
        padding-inline: 0;
    }

    .thumb1 {
        width: 100%;
        margin: 0 auto;
        border: 2px solid #fff;
    }
    
    .thumb1 img {
        display: block;
        max-width: 100%;
        min-width: 100%;
        cursor: pointer;
    }

    .cart_block {
        right: 40px;
        bottom: 40px;
        position: fixed;
        width: 80px;
        height: 80px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 1rem;
        animation: slidein 1.5s linear forwards;
    }

    .card {
        width: 460px;
        height: fit-content;
        padding: 30px;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    }
    
    .card_img {
        width: 100%;
    }
    
    .price_block_card {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}

/*main styles*/

/* header styles */
.header {
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu_list ul {
    list-style: none;
    padding: 0;
    padding-inline: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
} 

.menu_item {
    padding-right: 10px;
    transition-duration: .5s;
    border-bottom: 2px solid #fff;
}

.menu_item:hover {
    transition: all .5s ease-in-out;
    border-bottom: 2px solid #ccc;
}

.basket {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 10px;
}

.basket_badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    border-radius: 50%;
    color: #fff;
    width: 20px;
    height: 20px;
    top: -10px;
    right: -35px;
}

/* Styles of main wrapper */
main{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
}

.product_name {
    padding-right: 30px;
    border-bottom: 2px solid #ccc;
    width: fit-content;
}
/* Img styles */
img {
    border-radius: 1rem;
}

.pic_container {
    padding: 30px 0;
}

.mini_card_image {
    margin: 0;
    display: flex;
    align-items: center;
}

.mini_card_image img {
    margin: 0;
    width: 100%;
}

.thumbs {
    text-align: center;
}

.thumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.thumbs ul li{
    display: inline-block;
    border: 1px solid #fff;
    width: 100px;
    margin: 0 5px;
}

.thumbs ul li img{
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-direction: column-reverse;
}

/* Description and other info styles */
/* Rating styles */
.rating {
    display: inline-flex;
    flex-direction: row-reverse;
}

.rating_item {
    border: none;
    padding: 0;
    background: none;
    color: #eee;
    font-size: 40px;
    height: fit-content;
    cursor: pointer;
    transition: .2s;
}

.rating_item:hover, .rating_item:hover ~ .rating_item {
    color: #ccc;
}

.rating[data-total-value="1"] .rating_item:nth-child(n+5),
.rating[data-total-value="2"] .rating_item:nth-child(n+4),
.rating[data-total-value="3"] .rating_item:nth-child(n+3),
.rating[data-total-value="4"] .rating_item:nth-child(n+2),
.rating[data-total-value="5"] .rating_item:nth-child(n+1) {
    color: #ccc;
}

.active_rate {
    color: #ccc;
}


.price_block{
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.active_price {
    padding-right: 10px;
    font-size: 24px;
}

#priceold {
    font-size: 13px;
    text-decoration: line-through;
    color: #ccc;
}

.quantity_text {
    padding-top: 10px;
}

.max_quantity {
    right: 40px;
    bottom: 40px;
    position: fixed;
    width: 150px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(18, 17, 36, 0.04), 0 4px 15px rgba(18, 17, 36, 0.08);
    border-radius: 1rem;
    animation: slidein 1.5s linear forwards;
}
  
.success {
    background-color: #ccc !important;
}

.buy_group {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding-inline: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    white-space: nowrap;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.btn:hover{
    transition-duration: .5s;
    border: 1px solid #ccc;
    background-color: #ccc;
}

.counter_btn {
    width: 30px;
    height: 30px;
    font-size: 24px;
    border: 0;
    cursor: pointer;
    background: #ccc;
    border-radius: 50%;
    color: #fff;
}

.counter_value {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.counter_value:focus-visible {
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.add {
    display: flex;
    align-items: center;
}

input {
    height: max-content;
    border: none;
    background-color: transparent;
    width: max-content;
}

.product-icons img {
    height: 150px; 
    display: block; 
    cursor: pointer;
    border-bottom: 1px solid #ccc; 
}

.product-icons {
float: left;
}

/* .img-container img {
height: 422px;
display: block;
margin: 0 auto;
padding: 10px;
width: inherit;
}

.img-container {
display: flex;
margin: 10px;
width: 420px;
} */

/* .product-icons img {
    height: 90px; 
    display: block; 
    cursor: pointer;
    border-bottom: 1px solid #ccc; 
    opacity: .6;
    padding: 10px;
}

.product-icons img:hover {
opacity:1;
}
.product-icons img:active {
opacity:1;
} */

.card_sect {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animation */
@keyframes slidein {
    0% {
        opacity: 0;
        right: -20px;
    }
    20% {
        opacity: 1;
        right: 40px;
    }

    40% {
        opacity: 1;
        right: 40px;
    }

    60% {
        opacity: 1;
        right: 40px;
    }

    80% {
        opacity: 1;
        right: 40px;
    }

    100% {
        opacity: 0;
        right: -20px;
    }
  }